/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #FFF9F2;
  font-family:'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:16px;
  height:100%;
  width:100%;
}

/* Portrait layout (default) */
.app {
  background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
  position:absolute;             /* position in the center of the screen */
  left:50%;
  top:50%;
  height:50px;                   /* text area height */
  width:225px;                   /* text area width */
  text-align:center;
  padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
  margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  .app {
    background-position:left center;
    padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
    margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                    /* offset horizontal: half of image width and text area width */
  }
}

/* Icon customizations */
.fa {
  font-size: 0.75em;
  color: #AF8E25;
}
.fa-heart {
  color: #C53E3E;
}


header {
  background-color: #fbf2cb;
  height: 65px;
  border-bottom: 1px solid #a3a09a;
  padding-top: 20px; /* status bar */
  position: relative;
}

header h1 {
  line-height: 2.5em;
  text-transform: lowercase;
  color: #3f290e;
  font-family: "Libre Baskerville", serif;
  text-align:center;
  font-size: 1.3em;
}
.bar-icon {
  position: absolute;
  position: absolute;
  font-size: 32px;
  left: 10px;
  bottom: 5px;
}
.bar-icon .fa-bars {
  color: #D1BD7F;
}

#map {
  width: 100%;
  height: 240px;
  border-bottom: 1px solid #C7C3B8;
  background-size: 100%;
}

#list {
  height: 263px;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  font-size: 0.9em;
  color: #555;
}

#list li {
  position: relative;
  display: block;
  height: 75px;
  padding: 10px 10px;
  border-bottom: 1px solid #F8E7D2;
}

#list li h1 {
  font-family: "HelveticaNeue-Medium";
  color: #3f290e;
  margin-bottom: 5px;
}

#list li h3 {
  margin-top: 5px;
}

#list .friend-rec img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

#list .rating {
  position: absolute;
  right: 10px;
  top: 10px;
}
#list .rating .fa {
  font-size: 1.1em;
  color: #C2B384;
}
#list .dist {
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 0.9em;
}

#list .arehere {
  font-family: "HelveticaNeue-Medium";
}
#list .arehere .fa {
  color: #555;
}